<div style="margin-left:20px;" class="row">
  <h1 id="greeting"></h1> 
	<h4>AngularJS Single Page Application</h4>
	<p>Angular v.1.6.6 latest stable version</p>
	<b>FEATURES - FUNCTIONALITIES</b>
		<ul>
	        <li>lists users</li>
	        <li>filters results by search phrase (searching and filtering is performed on keypress in the username field)</li>
	        <li>filter results by role (dropdown select menu)</li>
	        <li>pagination</li>
	        <li>setting the number of results/records shown per page</li>
	        <li>double filtering : filtering by phrase and by role can be combined</li>
	        <li>bootstrap responsive table</li>
		</ul>
  <button type="button" class="btn btn-success" ng-click="listUsers()">USERS</button>
</div>
